version: '2.0'
services:
  php:
    build: .
    container_name: app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80"
    tty: true
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ./deploy/local.ini:/usr/local/etc/php/local.ini
      - ./deploy/conf.d/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
networks:
  app-network:
      driver: bridge
